:root {

    --prm-color : #6EE7B7;
    --sec-color : #064E3B;

}

body {
    background-color: var(--prm-color);
    font-family: 'Lobster Two', cursive;
    

}

.body-section{
    border: #064E3B;
    width: fit-content;
    height: fit-content;
    background-color: grey;
    margin: auto;
    border-radius: 1rem;
    border: 2px solid black;

}

h1 {
    text-align: center;
    padding: 1rem 1rem 1em 1rem;
    font-size: 3rem;
    margin: auto;
    color : var(--prm-color);
}

h4 {
    text-align: center;
    padding: 0rem 1rem 2rem 1rem;
    font-size: 1.3rem;
    margin: auto;
    color : var(--prm-color);
}

.center-div{
    display: block;
    margin: auto;
    text-align: center;

}

.labels {
        padding: 0rem;
        color: var(--prm-color);
        display: block;
        text-align: center;
        font-size: 1.2rem;
        margin: 0.5rem auto;
        
}

.input-fields{
        padding: 0.5rem;
        text-align: left;
        font-size: 1rem;
        margin: 0.5rem auto;
        width: 15rem;
        border-radius: 0.5rem;
}

.calc-btn{
        padding: 0.5rem;
        display: block;
        font-size: 1.5rem;
        margin: 1rem auto;
        width: 8rem;
        background-color: white;
        color: var(--sec-color);
        border: 3px outset var(--sec-color);
        border-radius: 0.5rem;
        cursor: pointer;
        font-family: 'Lobster Two', cursive;

}

.output-div{
    border: 2px solid var(--sec-color);
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 30rem;
    margin: auto;
    font-size: 1.2rem;
    text-align: center;
    color: var(--sec-color);
}

.output-text-div{
    border: none;
    background-color: white;
    padding: 0.5rem;
    width: fit-content;
    margin: auto;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: var(--sec-color);
}

.output-table{
    border: 2px solid black;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: black;
    background-color: var(--prm-color);
}

th{
    border: 2px solid black;
    padding: 0rem 0.5rem 0rem 0.5rem;
    text-align: left;
    font-size: 13px;
}

td{
    border: 2px solid black;
    width: 2rem;
    height: 2rem;
    padding: 0rem 0.4rem;
}
